<div class="card position-absolute top-50 start-50">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-input-signup">Username: </label>
        <input type="text" id="username-input-signup" class="bg-info" />
      </div>
      <div>
        <label for="password-input-signup">Password: </label>
        <input type="password" id="password-input-signup" class="bg-info" />
      </div>
      <button type="submit" id="signup-btn" class="btn-primary position-relative start-50" >Sign up!</button>
      <a href="/login">Login here!</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>